.header {
    color: $col-white;
    padding: 1rem;
    width: 100%;
    @include breakpoint(medium) {
        padding: 1rem 0;
    }
    &__block {
        display: block;
        text-align: center;
        margin: 1rem auto;
        width: 100%;
        @include breakpoint(medium) {
            display: inline-block;
            max-width: 47%;
            margin: 0 1% 0 0;
            vertical-align: middle;
            text-align: left;
        }
        &--branding {
            @include breakpoint(medium) {
                text-align: right;
                margin-left: 2%;
            }
        }
    }
    &__title {
        color: inherit;
        display: inline-block;
        font-weight: normal;
        font-size: 1.4rem;
        margin: 1rem auto 0;
        text-transform: uppercase;
        @include breakpoint(medium) {
            font-size: 1.8rem;
            margin: 0 auto;
        }
    }
    &__logo {
        background-color: $col-shade-grey;
        padding: 1rem 1.4rem;
        text-transform: uppercase;
        width: 100%;
        height: 100%;
    }
}