.modal {
    &__element {
        position: relative;
        z-index: 1;
    }
    &__button {
        background-color: $col-shade-grey;
        border: 1px solid $col-white;
        color: $col-white;
        cursor: pointer;
        height: 100%;
        min-height: 50px;
        min-width: 50px;
        max-height: 50px;
        max-width: 50px;
        position: absolute;
        top: 2%;
        transition: background 0.3s ease;
        right: 2%;
        width: 100%;
        &:hover {
            background-color: $col-light-grey;
        }
        &--close {
            background-color: $col-white;
            color: $col-shade-grey;
            border: 2px solid $col-bg;
        }
        &-line {
            background-color: $col-white;
            border-radius: 5px;
            height: 2px;
            position: absolute;
            width: 100%;
        }
        &-inner {
            font-size: 1.4rem;
            &--close {
                line-height: .6;
            }
        }
    }
    &__element {
        background-color: $col-shade-grey;
        height: 100%;
        min-height: 200px;
        position: relative;
        width: 100%;
        @include breakpoint(medium) {
            min-height: 400px;
        }
        @include breakpoint(large) {
            min-height: 500px;
        }
        &-title {
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            text-transform: uppercase;
        }
        &-caption {
            border-top: 1px solid $col-white;
            left: 0;
            position: absolute;
            padding: 1rem;
            top: 0;
        }
    }
    &__divide {
        @include breakpoint(medium) {
            clear: both;
            max-width: 70%;
            float: right;
            width: 100%;
        }
    }
   &__popup {
       background-color: rgba($col-bg, .8);
       bottom: 0;
       display: none;
       position: fixed;
       top: 0;
       left: 0;
       right: 0;
       z-index: 5;
       &-inner {
            background-color: $col-white;
            color: $col-shade-grey;
            left: 50%;
            max-width: 800px;
            padding: 2rem;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            width: 90%;
       }
   }
}