.slider {
    padding: 0 1rem;
    @include breakpoint(medium) {
        padding: 0;
    }
    &__outer {

    }
    &__inner {
        background-color: $col-shade-grey;
        color: $col-white;
        padding: 10rem 2rem;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
        @include breakpoint(large) {
            padding: 12rem 2rem;
        }
    }
}