.btn {
    border: 2px solid $col-white;
    color: $col-white;
    display: block;
    max-width: 260px;
    margin: 1rem auto;
    padding: 1rem 2rem;
    text-transform: uppercase;
    text-align: center;
}